[{plug,[{validate_header_keys_during_test,true}]},
 {artificery,[]},
 {stdlib,[]},
 {crypto,[{rand_cache_size,896},{fips_mode,false}]},
 {kernel,
     [{logger_level,notice},
      {logger,
          [{handler,default,logger_std_h,
               #{config => #{type => standard_io},
                 formatter =>
                     {logger_formatter,
                         #{legacy_header => true,single_line => false}}}}]},
      {logger_sasl_compatible,false}]},
 {runtime_tools,[]},
 {logger,
     [{compile_time_application,nil},
      {sync_threshold,20},
      {compile_time_purge_level,debug},
      {handle_otp_reports,true},
      {compile_time_purge_matching,[]},
      {translator_inspect_opts,[]},
      {level,debug},
      {truncate,8096},
      {discard_threshold,500},
      {handle_sasl_reports,false},
      {translators,[{'Elixir.Logger.Translator',translate}]},
      {discard_threshold_for_error_logger,500},
      {backends,[console]},
      {utc_log,false},
      {console,[]}]},
 {iex,
     [{alive_prompt,<<"%prefix(%node)%counter>">>},
      {inspect,[{pretty,true}]},
      {default_prompt,<<"%prefix(%counter)>">>},
      {colors,[]},
      {history_size,20}]},
 {ranch,[]},
 {public_key,[]},
 {todo,[{http_port,5454},{db_module,'Elixir.Todo.Database'}]},
 {compiler,[]},
 {cowboy,[]},
 {mix,[{colors,[]}]},
 {mime,[{types,#{}}]},
 {asn1,[]},
 {elixir,[{ansi_enabled,false}]},
 {distillery,[{config_providers,[]}]},
 {sasl,[{sasl_error_logger,false},{errlog_type,error}]},
 {cowlib,[]},
 {ssl,[]},
 {poison,[]},
 {poolboy,[]}].
